**/*.pyc
**/.build
**/.gradle
**/.idea
**/.ipynb_checkpoints
/build/
/app/build/
/app/src/main/assets/efficientdet-lite0.tflite
/app/src/main/assets/efficientdet-lite1.tflite
/app/src/main/assets/efficientdet-lite2.tflite
/app/src/main/assets/*.tflite
